.UserInput-Form {
  position: absolute;
  width: auto;
  padding: 0 6px;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.UserInput-FormInput {
  border: 2px solid #8e8e8e;
  border-radius: 5px;
  text-align: center;
}

.UserInput-Answer_isCorrect {
  text-align: center;
}

.UserInput-Form_isWrong {
	color: red;
}
